@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Reading Time - @ViewData["Title"]</h1>

<p>
    <b>Effective date:</b> @DateTime.Now.ToLongDateString()
</p>
<p>
    Thanks for entrusting GitHub Inc. (“GitHub”, “we”, “us”) with your time for this demo.
</p>
<p>
    @ViewData["Message"]
</p>
